<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
</head>
<body>
    <h1>CUSTOMERS LIST</h1>
    {% if Customers %}
    <ol>
        {% for customer in Customers %}
        <li>
            Customer Information
            <ul>
                <li>First Name: {{customer.first_name}}</li>
                <li>Last Name: {{customer.last_name}}</li>
                <li>Email: {{customer.email}}</li>
            </ul>
        </li>
        {% endfor %}
    </ol>

    {% endif %}
</body>
</html>